<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find display_arena)/urdf/display_arena.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find display_arena)/urdf.rviz" />

  <!-- 启动机器人状态和关节状态发布节点 --> 
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

</launch>